<!-- <p>share-video works!</p>
<input type="text" placeholder="Enter your task" name="url" [(ngModel)]="url">
<button (click)="share()">share</button>
<button (click)="like()">like</button>
<button (click)="dislike()">dislike</button> -->

<div class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <div class="subscribtion-box">
                    <h4 class="title">Share a youtube Movie</h4>
                    <form action="">
                        <p>Youtube Link</p>
                        <input type="link">
                        <input type="submit" value="Share">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
