<!-- Movies  section start -->

<div class="movies-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="songle-movies-item">
          <div *ngFor="let item of video" class="movies-itm-warp">
            <div class="single-movies-itm-left">
              <iframe width="560" height="315" [src]="item.url" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="single-movies-itm-text">
              <h4>{{item.name}}</h4>
              <h6>Shared by: {{item.sharedBy}}</h6>
              <div class="like-unlike">
                <button>{{item.like}}<i class="fa fa-thumbs-up"></i></button>
                <button>{{item.dislike}}<i class="fa fa-thumbs-down"></i></button>
              </div>
              <div class="des-txt">
                <h5>Description</h5>
                <p>{{item.description.slice(0,400)}}</p>
              </div>
              <div *ngIf="(authService.loggedIn | async)" class="vote-txt">
                <button (click)="like(item)" *ngIf="!item.liked && !item.disliked"><i
                    class="fa fa-thumbs-up"></i></button>
                <button (click)="dislike(item)" *ngIf="!item.liked && !item.disliked "><i
                    class="fa fa-thumbs-down"></i></button>
                <button (click)="unlike(item)" *ngIf="item.liked"><i class="fa fa-thumbs-up"
                    style="color: blue;"></i></button>
                <button (click)="undislike(item)" *ngIf="item.disliked"><i class="fa fa-thumbs-down"
                    style="color:red;"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Movies  section End -->
