    <!-- Movies  section start -->
    <div class="movies-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="songle-movies-item">
                        <div class="movies-itm-warp">
                            <div class="single-movies-itm-left">
                                 <iframe width="560" height="315" src="https://www.youtube.com/embed/7EdpBH81XIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="single-movies-itm-text">
                                <h4>Movie Title</h4>
                                <span>Shared by: Example@gmail.com</span>
                                <div class="like-unlike">
                                   <button>86<i class="fa fa-thumbs-up"></i></button>
                                   <button>12<i class="fa fa-thumbs-down"></i></button>
                                </div>
                                <div class="des-txt">
                                    <h5>Description</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, eum? Reprehenderit debitis odio deleniti ullam, atque est mollitia totam similique sapiente suscipit accusantium natus aliquid sint omnis sit rem praesentium minima, incidunt, quas fugiat necessitatibus at! Excepturi et voluptas, totam quibusdam alias, dolor labore ducimus, laboriosam nostrum, deleniti voluptates facere.</p>
                                </div>
                                <div class="vote-txt">
                                   <button><i class="fa fa-thumbs-up"></i></button>
                                   <button><i class="fa fa-thumbs-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="songle-movies-item">
                        <div class="movies-itm-warp">
                            <div class="single-movies-itm-left">
                                 <iframe width="560" height="315" src="https://www.youtube.com/embed/7EdpBH81XIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="single-movies-itm-text">
                                <h4>Movie Title</h4>
                                <span>Shared by: Example@gmail.com</span>
                                <div class="like-unlike">
                                   <button>86<i class="fa fa-thumbs-up"></i></button>
                                   <button>12<i class="fa fa-thumbs-down"></i></button>
                                </div>
                                <div class="des-txt">
                                    <h5>Description</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, eum? Reprehenderit debitis odio deleniti ullam, atque est mollitia totam similique sapiente suscipit accusantium natus aliquid sint omnis sit rem praesentium minima, incidunt, quas fugiat necessitatibus at! Excepturi et voluptas, totam quibusdam alias, dolor labore ducimus, laboriosam nostrum, deleniti voluptates facere.</p>
                                </div>
                                <div class="vote-txt">
                                   <button><i class="fa fa-thumbs-up"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="songle-movies-item">
                        <div class="movies-itm-warp">
                            <div class="single-movies-itm-left">
                                 <iframe width="560" height="315" src="https://www.youtube.com/embed/7EdpBH81XIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="single-movies-itm-text">
                                <h4>Movie Title</h4>
                                <span>Shared by: Example@gmail.com</span>
                                <div class="like-unlike">
                                   <button>86<i class="fa fa-thumbs-up"></i></button>
                                   <button>12<i class="fa fa-thumbs-down"></i></button>
                                </div>
                                <div class="des-txt">
                                    <h5>Description</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, eum? Reprehenderit debitis odio deleniti ullam, atque est mollitia totam similique sapiente suscipit accusantium natus aliquid sint omnis sit rem praesentium minima, incidunt, quas fugiat necessitatibus at! Excepturi et voluptas, totam quibusdam alias, dolor labore ducimus, laboriosam nostrum, deleniti voluptates facere.</p>
                                </div>
                                 <div class="vote-txt">
                                   <button><i class="fa fa-thumbs-up"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Movies  section End -->