
    <!-- Header bar section start -->
    <div class="header-bar-arar">
        <div class="container">
            <div class="row header-bar">
                <div class="col-lg-4" style="cursor: pointer;">
                    <div (click)="redirectTohome()" class="header-bar-left">
                        <h2><i class="fa fa-home"></i>Funny Movies</h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div  *ngIf="(authService.userData | async)" class="header-bar-login">
                       <a>Welcome {{(authService.userData| async)?.email}}</a>&nbsp;
                       <button><a [routerLink]="['/share']" routerLinkActive="router-link-active">Share a Movie</a></button>&nbsp;
                       <button><a href="javascript: void(0)" (click)="signOut()">Logout</a></button>
                    </div>
                    <div  *ngIf="!(authService.userData | async)" class="header-bar-right">
                          <div class="single-form">
                               <input type="email" name="email" [(ngModel)]="email" placeholder="Email">
                           </div>
                          <div class="single-form">
                               <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
                           </div>
                          <div class="single-form">
                               <input type="button"(click)="loginRegister()" value="Login/Register">
                           </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header bar section End -->
